*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-color: black; */
}
body{
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.685), rgba(116, 17, 17, 0.158)), url(9.jpg);
    background-size: cover;
    background-position: center; 

}
.navbar ul{
    list-style-type: none;
    /* background-color: gray; */
    overflow: hidden;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
}
.navbar a:hover{
    background-color: rgb(27, 26, 26);
}
.navbar li{
    float: right;
}
main{
    align-items: center;
}
.section{
    display: flex;
}

.section button{
    width: 280px;
    height: 40px;
    border: none;
    border-radius: 3px;
    margin-left: 30px;
    margin-top: 40px;
}
#one{
    margin-top:60px;
}
#content1{
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
    margin-right: 20px;
}
#content2{
    margin-left: 30px;
    margin-top: 25px;
    text-align: center;
    margin-right: 20px;
}
hr{
    width: 275px;
    margin-bottom: 10px;
}
h1{
    text-align: center;
}
h2{
    margin-top: 20px;
    margin-left: 100px;
    font-size: 40px; 
}
h3{
    margin-top: 20px;
    margin-left: 100px;
}
h6{
    margin-top: 10px;
    margin-left: 140px;
}
.section .second-box span{
    margin-left: 100px;
    margin-top: 10px;
}
.section .first-box span{
    margin-left: 110px;
}
#class{
    margin-top: 20px;
    margin-left: 120px;
    font-size: 40px;
}
.section .first-box{
    width: 350px;
    height: 400px;
    background-color: gray;
    margin-left: 20%;
    border-radius: 10px;
    margin-top: 100px;
    color: white;
    font-family: sans-serif;
    box-shadow: 0 0 15px rgba(8, 8, 8, 0.1);
}
.section .second-box{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 400px;
    background-color: gray;
    margin-left: 10%;
    border-radius: 10px;
    margin-top: 100px;
    color: white;
    font-family: sans-serif;
}
.section2 .footer{
    background-color: black;
}
.section .first-box #one a{
    text-decoration: none;
    color: gray;
    font-weight: 800;
}
.section .second-box a{
    text-decoration: none;
    color: gray;
    font-weight: 800;
}
/* .container .form .column .selection-box option{
    border: none;
} */

/* ---------------------four boxes----------------- */
.section2{
    display: flex;
    margin-left: 200px;
    margin-top: 150px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 25px;
}
.section2 p{
    margin-top: 40px;
    font-size: 20px;
}
.section2 img{
    width: 30px;
    height: 30px;
    margin-top: 30px;
}
.section2 .box1{
    width: 200px;
    height: 200px;
    background-color: gray;
    margin-left: 20px;
    border-radius: 5px;
}
.section2 .box2{
    border-radius: 5px;
    width: 200px;
    height: 200px;
    background-color: gray;
    margin-left: 40px;
}
.section2 .box3{
    border-radius: 5px;
    width: 200px;
    height: 200px;
    background-color: gray;
    margin-left: 40px;
}
.section2 .box4{
    border-radius: 5px;
    width: 200px;
    height: 200px;
    background-color: gray;
    margin-left: 40px;
}
#last-para{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
    color: gray;
}
#last-para a{
    color: gray;
}
.footer{
    width: 100%;
    height: 500px;
    background-color: gray;
    margin-top: 50px;
}